<div class="container-fluid">

    <strong>Nombre:</strong>
    <h3> <%= @product.name %> </h3>


  <p>
    <!-- <strong>Image:</strong> -->
    <%= image_tag @product.image, size: '300x300' %>
  </p>


    <strong>Precio:</strong>
     <h4> <%= @product.price %> </h4>

<p>
  <!-- <strong>Tiempo de preparacion</strong> -->
  <%#= @product.time %>
</p>


    <strong>Descripcion:</strong>
    <h4><em> <%= @product.description %> </em></h4>

  <% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
  <% else %>
  <%= link_to 'Back', products_path %>
<% end %>

</div>
